<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="ExtentReport.ExtentReport"/>
    </listeners>
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/vipin/Intellij Projects/Entrata">
       <classes>
            <class
                    name="Test.Test_Entrata_Landing_Page">
           </class>
            <class
                    name="Test.Test_User_Registration_For_First_Webinar">
            </class>
            <class
                    name="Test.Test_AI_and_Automation_Suite_Demo">
            </class>
            <class name="Test.Test_Automated_Leasing"></class>
        </classes>
    </test>
</suite>