<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="ExtentReport.ExtentReport"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/vipin/Intellij Projects/Entrata">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="Test.Test_Entrata_Landing_Page">
        </class>
        </classes>
    </test>
</suite>